@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --White: hsl(0, 0%, 100%);
  --Border: hsla(243, 28%, 13%, 0.25);
  --Link: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto-Regular", serif;
}

/* Background image section */

.background-image-container {
  display: block; /* switch to none*/
  width: 100vw;
  height: 33.72vh;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text Section */

.text-section-container {
  display: flex; /* switch to none*/
  flex-direction: column;
  margin: 40px 24px 0 24px;
}

.header-text-container {
  margin-bottom: 24px;
}

.header-text {
  font-family: "Roboto-Bold";
  font-size: 40px;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 24px;
}

.paragraph-text {
  line-height: 1.5;
  color: var(--Dark-Slate-Grey);
}

/* List items section */

.list-items-container {
  margin-bottom: 40px;
}

.list-item-container {
  display: flex;
  align-items: start;
  gap: 16px;
}

.list-item-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--Dark-Slate-Grey);
}

/* Sign-up form section */

.sign-up-form-section {
  margin: 0 auto 40px auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.form-label,
.invalid-form-label {
  font-family: "Roboto-Bold";
  font-size: 12px;
  line-height: 1.5;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 8px;
}

.form-input {
  width: 327px;
  height: 56px;
  border: 1px solid var(--Border);
  border-radius: 8px;
  margin-bottom: 24px;
  padding-left: 24px;
  font-size: 16px;
  color: var(--Border);
  opacity: 0.5;
}

.form-button {
  width: 327px;
  height: 56px;
  border: none;
  border-radius: 8px;
  background-color: var(--Dark-Slate-Grey);
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: var(--White);
}

/* Success message section */

.success-message-section {
  display: none; /* switch to flex*/
  flex-direction: column;
  width: 87.2vw;
  height: 812px;
  margin: 0 24px;
  padding-top: 149px;
}

.success-message-icon {
  width: 64px;
  margin-bottom: 40px;
}

.success-header-text {
  font-family: "Roboto-Bold";
  font-size: 40px;
  line-height: 100%;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 24px;
}

.success-main-text {
  line-height: 150%;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 263px;
}

.bold-text {
  font-family: "Roboto-Bold";
}

.dismiss-button {
  margin: 0 auto 0 auto;
  width: 327px;
  height: 56px;
  background: var(--Dark-Slate-Grey);
  border: none;
  border-radius: 8px;
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: var(--White);
}

/* Footer section */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Link);
}

@media only screen and (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Charcoal-Grey);
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    width: 928px;
    height: 641px;
    background-color: var(--White);
    border-radius: 36px;
    padding: 24px 24px 24px 64px;
  }

  /* Background image section */

  .background-image-container {
    display: block; /* switch to none*/
    width: 100vw;
    height: unset;
  }

  .background-image {
    border-radius: 16px;
  }

  /* Text Section */

  .text-section-container {
    display: flex; /* switch to none*/
    flex-direction: column;
    margin: 73px 64px 0 0;
  }

  .header-text {
    font-family: "Roboto-Bold";
    font-size: 56px;
    margin-bottom: 24px;
  }

  /* List items section */

  .list-items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  /* Sign-up form section */

  .sign-up-form-section {
    width: 376px;
  }

  .label-group {
    display: flex;
    justify-content: space-between;
  }

  .invalid-form-label {
    display: none;
    color: var(--Tomato);
  }

  .form-input {
    width: 100%;
  }

  .form-input:hover {
    cursor: pointer;
    border: 1px solid var(--Dark-Slate-Grey);
    color: var(--Dark-Slate-Grey);
    opacity: unset;
  }

  .form-button {
    width: 100%;
  }

  .form-button:hover {
    cursor: pointer;
    background-color: var(--Tomato);
  }

  /* Footer section */

  .attribution {
    color: var(--White);
  }

  .attribution a {
    color: var(--Tomato);
  }
}
